*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body
{
    background: url(../images/properties.jpg);
    background-attachment: fixed;
    position: relative;
}
body *
{
    /* border: 1px solid black;  */
    background: white;
}
* div
{
    border-radius: 5px;
}
.main
{
    background: url(../images/wpresidece-header.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
}
.main *
{
    background: transparent;
    color: white;
}
button
{
    border: none;
    outline: none;
}
a
{
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: 0.5s;
}
.social,.navbar
{
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
}
.navbar
{
    padding: 30px;
}
.content
{
    padding: 150px 0;
}
span,.fa
{
    margin: 0 2px;
}
.fa, .input, h3
{
    transition: 0.3s;
}
.fa:hover, .fdiv h3:hover
{
    color: darkcyan;
}
.main a:hover .fa
{
    color: black;
}
a:hover
{
    color: white;
    background: rgba(24,116,225,255);
}
li
{
    list-style: none;
}
.blu:hover
{
    color: blue;
}
.bgblu:hover
{
    background: blue;
}
.nav li
{
    display: inline;
    margin: 0 10px;
    transition: 0.5s;
}
::placeholder
{
    font-size: 16px;
}
.rent_sell_invest
{
    background: white;
    position: absolute;
    line-height: 40px;
    padding: 20px 0;
    top: 85%;
    left: 50%;
    transform: translate(-50%,0);
}
.rent_sell_invest *
{
    color: black;
}
select
{
    height: 30px;
    background: rgba(243,249,255,255);
}
.property
{
    gap: 30px;
}
.property span
{
    margin: 0 6px;
}
.property span a
{
    background: rgba(243,249,255,255);
}
.rent_sell_invest, .property-list, .type1, .columncount img, .villa1, .hometxt, .agent, .table
{
    box-shadow: 0 0 8px skyblue;
}
.propertiesbyarea, .propertiesbycategory, .featuredproperties, .testimonials, .propertiesbyarea .info, .propertiesbycategory .info, .featuredproperties .info, .testimonials .info
{
    background: rgba(243,249,255,255);
}
.propertiesbyarea, .latestproperties, .propertiesbycategory, .propertiesforrent, .featuredproperties, .realestateagents, .testimonials, .sendemail, .fdiv
{
    padding: 60px;
    text-align: center;
}
.content, .info, .property-list, .property-type, .columncount, .villa, .estateagency, .table, .fdiv
{
    margin: auto;
}
.social, .navbar, .property, .property-list, .property1, .property-type, .villa, .villa1, .gorgeoushome, .gorgeoushome2, .estateagency, .agentdetail, .fdiv, .cus, .pro1
{
    display: flex;
}
.property, .property-type, .gorgeoushome, .agentdetail
{
    justify-content: center;
}
.social, .navbar, .property1, .property-type, .villa1, .agentdetail, .pro1
{
    align-items: center;
}
.propertiesbyarea
{
    /* background: lightgray; */
    padding-top: 200px;
    /* line-height: 40px; */
}
.propertycategory, .form, .protxt
{
    padding: 15px;
}
.info
{
    width: 50%;
    padding: 20px;
}
.property-list
{
    padding: 20px;
    /* box-shadow: 0 0 10px black; */
}
.property-list,.property1
{
    flex-wrap: wrap;
}
.property1
{
    justify-content: space-evenly;
    width: 25%;
}
.property1 p
{
    padding: 6px;
}
.propertiesbyarea img, .latestproperties img, .propertiesforrent img, .villa1 img,.realestateagents img
{
    height: 125px;
    width: 125px;
    object-fit: contain;
}
.latestproperties li
{
    display: inline;
    margin: 0 10px;
    padding: 10px 0;
}
.property-type
{ 
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
    padding: 20px;
}
.type1
{
    padding: 10px;
    width: 31%;
}
.type1img
{
    box-sizing: border-box;
    overflow: hidden;
}
.realestateagents .type1img:hover img
{
    filter: brightness(120%);
}
.type1 p
{
    padding: 10px;
}
button
{
    height: 30px;
    width: 100px;
    border: none;
    background: rgba(24,116,225,255);
    color: white;
    transition: 0.5s;
}
.columncount
{
    /* column-count: 3;    */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: transparent;
    gap: 30px;
}
.columncount img
{
    /* height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; */
    width: 30%;
}
.villa
{
    justify-content: space-between;
    width: 90%;
    background: transparent;
}
.villa1
{
    width: 49%;
    padding: 20px;
    line-height: 25px;
}
.propertiesforrent .type1 img:hover
{
    transform: scale(1.2);
}
.gorgeoushome
{
    height: auto; 
}
.gorgeoushome1
{
    height: 50vh;
    width: 50%;
    background: url(../images/properties.jpg);
    background-size: cover;
    position: relative;
}
.gorgeoushome2
{
    height: 50vh;
    width: 50%;
    flex-wrap: wrap;
}
.gorgeoushome2 div
{
    width: 50%;
    height: 25vh;
    background: url(../images/properties.jpg);
    background-size: cover;
}
.hometxt
{ 
    width: 50%;
    line-height: 30px;
    position: absolute;
    bottom: 0%;
    left: 35%;
    background: white;
    padding: 20px;
}
.estateagency
{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.agent
{
    width: 32%;
    padding: 20px;
}
.agentimg
{
    height: 90px;
    width: 90px;
}
.agentdetail img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.estateagency p,span, .cus div,.pro1
{
    padding: 10px;
}
.sendemail
{
    background: navy;
    color: white;
}
.sendemail *,.transperentdiv
{
    background: transparent;
}
.table
{
    padding: 20px;
    width: 60%;
    background: white;
}
.table table input,textarea
{
    padding: 10px;
    width: 100%;
}
.transperentdiv
{
    height: 67vh;
}
.fdiv
{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    width: 100%;
    text-align: left; 
    z-index: -1;  
    padding: 70px;
}
.cus
{   
    line-height: 30px;
}
.proimg1
{
    height: 125px;
    width: 125px;
    background: url(../images/properties.jpg);
    background-size: cover;
}